body {
    background-color: rgb(0, 0, 0);
}
.title h1 {
    text-align: center;
    color: white;
    font-family: Garamond;
}
.picture {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}
.picture blockquote {
text-align: center;
font-size: 200%;
}
.picture img {
    max-width: 100%;
}
.description {
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
    color: white;
}
.description h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}
.description p {
    font-size: 1.2rem;
    line-height: 1.4;
    text-indent: 2rem;
    
}
